<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<header>
		


	</header>
	<main>
	
	<h1>Formuladio DE Datos</h1>
		<form>
			<label for="dni"> DNI</label>
			<input id="dni" type="number" required placeholder="Ingrese el numero de DNI"></input><br>
		
			<label for="nombres"> Nombres:</label>
			<input id="nombres" type="text" required placeholder="Ingrese su Nombre"></input><br>
			<label for="apellidos"> Apellidos:</label>
			<input id="apellidos" type="number" required placeholder="Ingrese sus apellidos"></input><br>
			<label for="fecnac"> Fecha de Nacimiento:</label>
			<input id="fecnac" type="date" required placeholder="Ingrese su fecha de nacimiento"></input><br>
			
			<div>
		
				<label for="generoM"> Masculino: </label>
				<input id="generoM" type="radio" value="Masculino" name="genero" ></input><br>
				<label for="generoF"> Femenino</label>
				<input id="generoF" type="radio" value="Femenino" name="genero" ></input><br>
				<label for="generoX"> X</label>
				<input id="generoX" type="radio" value="X" name="genero" ></input><br>
		
			</div>
			<label for="correoElectronico">Correo Electronico:</label>
		
		<input type="button" value="Gurdar"></input>
		<input type="submit" value="Gurdar"></input>
		</form>
	</main>
</body>
</html>