<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Valerio Sebastian</title>
    <link rel="stylesheet" href="/css/estilos.css"></link>
</head>
<body>
    <header> 
        <h1>Programacion Visual</h1>
        <nav class="menu">
           <ul>
            <li><a href="" class="item">Inicio</a></li>
			<li><a href="" class="item">Caracteristicas</a></li>
			<li><a href="" class="item"> Diferencias C++ y Java</a></li>
			<li><a href="" class="item"> Recursos</a></li>
           </ul>
        </nav>
    </header>
    

    <main class="main">
        <section class="seccion1">
            <h2 class="subtitulo">Semana1</h2>
            <h3>Programación visual y sus aplicaciones en BIM</h3>
            <p>La programación visual es un tipo de lenguaje de programación que permite a sus usuarios ilustrar sus procesos, o dicho de otra forma, se trata de un lenguaje de programación visual que permite a los desarrolladores explicar el proceso con palabras comprensibles para los usuarios, a diferencia de un lenguaje informático tradicional basado en texto.</p>

            
        </section>

        <section class="seccion2">
            <h2 class="subtitulo">Semana 2</h2>
            <h3>Características de un software de programación visual</h3>
            <p>Un software de programación visual tiene varias características que le ayudan a ser uno de los lenguajes de programación más populares entre los desarrolladores de todo el mundo.</p>
        	<ul class="Dif">
                <li>A diferencia de otros lenguajes como C++ y Java, el Software de Programación Visual no se preocupa por el caso.</li>
                <li>Objetos y figuras gráficas: El lenguaje de programación visual (VPL) permite construir programas utilizando componentes y figuras gráficas.</li>
                <li>Dispone de formateo automático del código, de un diseñador XML y de un visor de objetos mejorado.</li>
            </ul>
        	
        </section>

        <section class="seccion3">
            <h2 class="subtitulo">Semana 3</h2>
            <h3>Ventajas del software de programación visual</h3>
            <table class="tabla">
                <tr>
                    <th>Facilidad de uso</th>
                    <th>Fácil de aprender</th>
                </tr>
                <tr>
                    <td>Hay varios campos incorporados en estos lenguajes que pueden utilizarse para crear nuevas aplicaciones. La interfaz de usuario puede crearse simplemente con el ratón, mientras que los elementos, como pueden ser los formularios, se colocan en los componentes primarios de la interfaz.</td>
                    <td> El lenguaje de programación visual es sencillo de aprender, lo que permite que incluso personas sin experiencia y equipos empresariales puedan crear aplicaciones y flujos de trabajo con facilidad.</td>
                </tr>
            </table>
            <p>La programacion Visual es muy Divertida</p>
        </section>
    </main>

    <aside>
        <a href="https://educacionrobotica.com/wp-content/uploads/2023/04/Programacion-visual-1200x900.jpg">Enlace Adicional</a><br>
        <img src="https://educacionrobotica.com/wp-content/uploads/2023/04/Programacion-visual-1200x900.jpg" alt="Imagen Adicional" class="progv" >
    </aside>

    <footer id="footer">
        <p>Contacto: progvisualapu@example.com</p>
        <p>Sígueme en redes sociales:</p>
        <a class="bajo" href="#">Facebook</a>
        <a class="bajo" href="#">Twitter</a>
    </footer>
</body>
</html>